/* change these */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");

* {
  box-sizing: border-box;
}

/* THIS IS ALL meant for editing. You might want to do it differently,
name the variables differently,
use the fonts in other ways in the font hierarchy etc. */

/* change / delete some of these - note: all variables are listed twice */

:root {
  --bg-color: red;
  --link-color: green;
  --link-hover-color: blue;
  --color-4: hotpink;
  --color-5: rebeccapurple;

  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Droid Serif", serif;
  --main-text-color: #000;

  --white-space: 1rem;

  --bg-color: #f35603;
  --link-color: #fbdb82;
  --link-hover-color: #a6af73;
  --color-4: #b8b5d2;
  --color-5: #ffffff;
  --color-6: #fff8ed;

  --primary-font: sans-serif;
  --secondary-font: serif;
  --main-text-color: #000;

  --white-space: 2rem;
}

html {
  font-size: 100%;
  font-family: var(--primary-font);
}

img {
  height: 20vw;
}

header,
main,
footer {
  max-width: 1300px;
  margin: 0 auto;
  padding: calc(2 * var(--white-space));
}

.full-width {
  background-color: #fff8ed;
  color: white;
  width: 100%;
}

.header-wrapper h1 {
  font-size: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding-right: 0.75em;
  font-weight: bold;
  color: black;
  font-family: "Scheherazade New", serif;
}

.header-wrapper h2 {
  font-size: 2.6em;
  color: black;
  font-weight: bold;
  margin: var(--white-space) 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Scheherazade New", serif;
}

.header-wrapper h3 {
  font-size: 1.2rem;
  color: black;
  font-family: "Scheherazade New", serif;
}

.header-wrapper p {
  padding-top: 2.5rem;
  color: #f35603;
}

main {
  padding: calc(2 * var(--white-space));
}

section {
  /* margin-bottom: calc(4 * var(--white-space)); */
  margin-bottom: calc(2 * var(--white-space));
}

.section-heading {
  font-family: "Scheherazade New", serif;
  font-size: 1.6rem;
  color: black;
  margin: 3.5rem 0;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 0.1rem;
}

.section-heading_2 {
  font-family: "Scheherazade New", serif;
  font-size: 1.6rem;
  color: black;
  margin: 3.5rem 0;
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 8.3rem;
}

.section-heading_3 {
  padding-top: 6.3rem;
  font-family: "Scheherazade New", serif;
  font-size: 1.6rem;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 1rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

.swatches li {
  margin-right: 5vw;
  height: 15vw;
  width: 20%;
}

ul li:last-child {
  margin-right: 0;
}

.color-swatch-1 {
  background-color: var(--bg-color);
}

.color-swatch-2 {
  background-color: var(--link-color);
}

.color-swatch-3 {
  background-color: var(--link-hover-color);
}

.color-swatch-4 {
  background-color: var(--color-4);
}

.color-swatch-5 {
  background-color: var(--color-5);
}
.color-swatch-6 {
  background-color: var(--color-6);
  border: solid;
}
.textures li {
  height: 40vw;
  width: 40%;
  margin-right: 5vw;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-2 {
  background: url(../img/subtle_grunge.png) top left repeat;
}

.texture-swatch-1 {
  background: url(../img/pw_maze_white.png) top left repeat;
}

.texture-swatch-3 {
  background: url(../img/white_paperboard.png) top left repeat;
}

.images ul {
  flex-direction: column;
  text-align: center;
}

.images li {
  display: block;
  /*margin-right: 5vw;*/
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-start;
  gap: calc(0.5 * var(--white-space));
}

button {
  padding: 1rem;
  background: #fff8ed;
  text-align: center;
  text-decoration: none;
  font-family: "Scheherazade New", serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
  /* margin: 0 1rem 0 0; */
}
4 .secondary-button {
  background: var(--color-5);
}

button:focus,
button:active,
button:focus-within {
  outline: 0;
  border-radius: 4px;
}

button:hover {
  background-color: #f35603;
}

button:active {
  background-color: var(--bg-color);
}

.typography-main {
  color: var(--main-text-color);
}

.h1-sample {
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
}

.h2-sample {
  font-family: "Raleway", sans-serif;
  font-size: 1.25rem;
}

p.typography-sample {
  font-family: var(--secondary-font);
  line-height: 1.5;
  max-width: 960px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  font-family: var(--primary-font);
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  color: var(--link-hover-color);
  font-size: 4rem;
  background-color: var(--color-4);
  opacity: 0.1;
}

p[class*="font-details-"] {
  margin-top: 0.5rem;
  /* margin-bottom: calc(2 * var(--white-space)); */
  margin-bottom: var(--white-space);
  font-size: 1rem;
  font-family: "Scheherazade New", serif;
  color: black;
}

.adjectives ul {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.adjectives ul {
  flex-direction: column;
  word-spacing: 2em;
}

.section-heading_4 {
  font-family: "Scheherazade New", serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 3rem;
}

.section-heading_5 {
  font-family: "Scheherazade New", serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 2rem;
}
img {
  padding: 1rem;
}

.adjectives p {
  padding-top: 2.5rem;
  color: #f35603;
  margin-left: -39rem;
}
.fotostil img {
  justify-content: space-between;
  padding-top: 5rem;
  flex-direction: row;
  height: 23vw;
  padding-left: 0.1rem;
}

.fotostil_2 img {
  justify-content: space-between;
  padding-top: 5rem;
  flex-direction: row;
  height: 18.5vw;
  padding-left: 0.1rem;
}

.fotostil p {
  padding-top: 18rem;
  color: #f35603;
  margin-left: -39rem;
}
.fotostil_2 p {
  padding-top: 2.5rem;
  color: #f35603;
  margin-left: -39rem;
}
footer {
  font-style: italic;
  color: black;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    background-color: #fff8ed;
  }

  .swatches li {
    margin-right: 3%;
    height: 10vw;
    width: 20%;
  }

  .textures li {
    height: 23vw;
  }
}

@media (min-width: 900px) {
  .adjectives ul {
    flex-direction: row;
  }
}
